.overall_container{
    max-width: 1200px;
    width: 100%;
    margin: 1rem auto;
    background: #ffffff;
    box-shadow: 0px 0px 10px #011c2b5e;
    border-radius: 8px;
    padding: 10px;
    height: 550px;

}
.info{
    width: 450px;
    height: 540px;
    background-color: #011C2B;
    border-radius: 8px;
    padding: 2rem;
}

.top_text h3{
    font-family: "Poppins", sans-serif; 
    font-weight: 700;
    font-size: 28px;
    color: #ffffff;
}
.top_text p{
    font-family: "Poppins", sans-serif; 
    font-weight: 400;
    font-size: 18px;
    color: #C9C9C9;
}

.middle_text{
    width: 337px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.phone_number, .address, .mail{
    font-family: "Poppins", sans-serif; 
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.social_links{
    display: flex;
    gap: 30px;
}

.social_links .links{
    width: 30px;
    height: 30px;
    background: #F6AF03;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.social_links .links i{
    font-size: 20px;
    color: #FFFFFF;
}